.text-formatted ul,
.text-formatted ol {
  padding: 0 0 0 18px;
}

.text-formatted ul li,
.text-formatted ol li {
  margin-bottom: 15px;
  padding-left: 20px;
}

.text-formatted ul li::marker {
  content: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 18 13" height="13" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m17.348 2.0638-10.6 10.6c-0.09388 0.0947-0.22168 0.1479-0.355 0.1479s-0.26112-0.0532-0.355-0.1479l-5.39-5.39c-0.09466-0.0938-0.1479-0.2216-0.1479-0.355 0-0.1333 0.05324-0.2611 0.1479-0.355l0.7-0.7c0.09388-0.0946 0.22168-0.1479 0.355-0.1479s0.26112 0.0533 0.355 0.1479l4.33 4.33 9.55-9.55c0.1978-0.19179 0.5122-0.19179 0.71 0l0.7 0.71c0.0947 0.09388 0.1479 0.22168 0.1479 0.355s-0.0532 0.26111-0.1479 0.355z"/></svg>');
}

.text-formatted ul ul {
  margin-top: 15px;
}
