<header class="header" role="banner">
  <div class="header__logo">
    {{ logo }}
  </div>
  <button class="header__toggle" aria-label="Open menu">
    <span class="header__toggle-line"></span>
    <span class="header__toggle-line"></span>
    <span class="header__toggle-line"></span>
  </button>
  <div class="header__container">
    <div class="header__menu">
      <button class="header__close" aria-label="Close menu">×</button>
      <div class="header__menu__content">
        {{ content }}
      </div>
    </div>
  </div>
</header>
