[data-component-id="drupalcamp:text"]:not(.text-with-button) .title-bar {
  text-align: center;
}

[data-component-id="drupalcamp:text"] .title-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:text"] .title-bar {
    padding-bottom: 0;
  }
}

[data-component-id="drupalcamp:text"] .title-bar > *:first-child {
  flex-grow: 1;
}

[data-component-id="drupalcamp:text"] .text {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}
