[data-component-id="drupalcamp:card"] {
  /* Base styles for card */
}

[data-component-id="drupalcamp:card"].card--default {
  padding: 40px 25px;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:card"].card--default {
    padding: 50px;
  }
}

[data-component-id="drupalcamp:card"].card--default .text-formatted .link--button:not(.link--button--transparent) {
  border: 0;
}

[data-component-id="drupalcamp:card"].card--featured {
  padding: 20px 10px;
}

[data-component-id="drupalcamp:card"].card--featured [data-component-id="drupalcamp:title"] > * {
  border: 2px solid var(--color--primary);
  border-radius: 20px;
  cursor: default;
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  margin: 0 0 10px;
  padding: 6px 21px;
  transition: var(--transition);
}

[data-component-id="drupalcamp:card"].card--featured [data-component-id="drupalcamp:title"] > *:hover {
  border-color: var(--color--secondary);
}

[data-component-id="drupalcamp:card"].card--featured.color--primary-light [data-component-id="drupalcamp:title"] > * {
  border-color: var(--color--primary-light);
}

[data-component-id="drupalcamp:card"].card--featured.color--primary-light [data-component-id="drupalcamp:title"] > *:hover {
  border-color: var(--color--secondary);
}

[data-component-id="drupalcamp:card"].card--featured.color--secondary [data-component-id="drupalcamp:title"] > * {
  border-color: var(--color--secondary);
}

[data-component-id="drupalcamp:card"].card--featured.color--secondary [data-component-id="drupalcamp:title"] > *:hover {
  border-color: var(--color--primary-light);
}

[data-component-id="drupalcamp:card"].card--featured.color--white [data-component-id="drupalcamp:title"] > * {
  border-color: white;
}

[data-component-id="drupalcamp:card"].card--featured.color--white [data-component-id="drupalcamp:title"] > *:hover {
  border-color: var(--color--secondary);
}

[data-component-id="drupalcamp:card"].card--with-border {
  background-color: white;
  border: 3px solid var(--color--primary);
  border-radius: 17px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
}

[data-component-id="drupalcamp:card"].card--with-border.color--primary-light {
  border-color: var(--color--primary-light);
}

[data-component-id="drupalcamp:card"].card--with-border.color--secondary {
  border-color: var(--color--secondary);
}

[data-component-id="drupalcamp:card"].card--with-border.color--white {
  border-color: white;
}

[data-component-id="drupalcamp:card"].card--with-border h2 {
  font-size: calc(var(--font-size) * 1.38);
  line-height: calc(var(--line-height) * 1.38);
}
