[data-component-id="drupalcamp:cards"] {}

[data-component-id="drupalcamp:cards"] .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

[data-component-id="drupalcamp:cards"] .cards-wrapper > * {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  flex: 1;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:cards"] .cards-wrapper {
    flex-direction: row;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > * {
    flex: none;
    width: 50%;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:before,
  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:after {
    transform: unset;
    width: calc(50vw - (var(--page-side-margin) / 2) - 16px);
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(odd) {
    border-right: 16px solid transparent;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(odd) > div {
    padding-left: 0;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(odd):before,
  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(odd):after {
    left: unset;
    right: 0;
    margin-left: calc(50% - (50vw - (var(--page-side-margin) / 2)));
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(even) {
    border-left: 16px solid transparent;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(even) > div {
    padding-right: 0;
  }

  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(even):before,
  [data-component-id="drupalcamp:cards"] .cards-wrapper > *:nth-child(even):after {
    left: 0;
    margin-right: calc(50% - (50vw - (var(--page-side-margin) / 2)));
  }
}

[data-component-id="drupalcamp:cards"] .cards-wrapper > *.variant--with-border {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-top-style: solid;
  border-width: 20px;
  padding: 0;
}

[data-component-id="drupalcamp:cards"] .cards-wrapper > *.variant--with-border .card--with-border {
  padding: 20px;
}
