[data-component-id="drupalcamp:session_card"] {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: white;
  border: 1px solid var(--color--primary);
  border-radius: 17px;
  box-sizing: border-box;
  padding: 30px 22px 20px;
  width: 100%;
  transition: var(--transition);
  text-decoration: none;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:session_card"] {
    height: 100%;
  }
}

[data-component-id="drupalcamp:session_card"]:focus,
[data-component-id="drupalcamp:session_card"]:hover {
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  background: var(--color--primary);
}

[data-component-id="drupalcamp:session_card"] .speakers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

[data-component-id="drupalcamp:session_card"] .speakers .avatar {
  transition: var(--transition);
}

[data-component-id="drupalcamp:session_card"] ul.ul--pills--inline {
  margin: 0;
  gap: 14px;
}

[data-component-id="drupalcamp:session_card"] ul.ul--pills--inline li {
  width: fit-content;
}

[data-component-id="drupalcamp:session_card"] ul.ul--pills--inline li:hover {
  border: 2px solid var(--color--primary-light);
  cursor: pointer;
}
