[data-component-id="drupalcamp:person_card"] {
  display: flex;
  gap: 20px 50px;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:person_card"] .image-wrapper {
    width: 20%;
  }
}

[data-component-id="drupalcamp:person_card"] .image-wrapper img {
  border-radius: 17px;
  width: 100%;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:person_card"] .text-wrapper {
    width: 80%;
  }
}

[data-component-id="drupalcamp:person_card"] .text-wrapper h2 {
  font-size: calc(var(--font-size-h2) * 0.63);
  line-height: calc(var(--font-line-height-h2) * 0.63);
  margin-bottom: 10px;
}

[data-component-id="drupalcamp:person_card"] .text-wrapper .position {
  font-weight: 700;
  margin-bottom: 10px;
}

[data-component-id="drupalcamp:person_card"] .text-wrapper .summary {
  font-size: calc(var(--font-size) * 0.8);
  line-height: calc(var(--font-line-height) * 0.8);
}

[data-component-id="drupalcamp:person_card"] .text-wrapper .links > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

[data-component-id="drupalcamp:person_card"] .text-wrapper .links > div a {
  font-size: calc(var(--font-size) * 0.7);
  font-weight: 700;
  text-transform: uppercase;
}
