[data-component-id="drupalcamp:person_cards"] {
  display: flex;
  flex-wrap: wrap;
  gap: 75px 4%;
  justify-content: center;
}

[data-component-id="drupalcamp:person_cards"] > div {
  flex: 0 0 100%;
}

@media (min-width: 576px) {
  [data-component-id="drupalcamp:person_cards"] > div {
    flex: 0 0 46%;
  }
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:person_cards"] > div {
    flex: 0 0 30%;
  }
}

@media (min-width: 992px) {
  [data-component-id="drupalcamp:person_cards"] > div {
    flex: 0 0 22%;
  }
}

[data-component-id="drupalcamp:person_cards"] > div [data-component-id="drupalcamp:person_card"] {
  flex-direction: column;
}

[data-component-id="drupalcamp:person_cards"] > div [data-component-id="drupalcamp:person_card"] .image-wrapper,
[data-component-id="drupalcamp:person_cards"] > div [data-component-id="drupalcamp:person_card"] .text-wrapper {
  width: 100%;
}
