[data-component-id="drupalcamp:brief_information"] {
  display: flex;
  gap: 24px;
}

[data-component-id="drupalcamp:brief_information"] .icon img {
  height: auto;
  width: 40px;
}

[data-component-id="drupalcamp:brief_information"] .title {
  font-size: calc(var(--font-size) * 1.38);
  font-weight: 700;
  margin-bottom: 20px;
}
