<div {{ attributes }}>
  <div class="icon">
    {{ icon }}

  </div>
  <div class="content">
    <div class="title">{{ title }}</div>
    <div class="text text-formatted">{{ text }}</div>
  </div>
</div>
