{% set attributes = attributes.addClass('accordion-element') %}
<div {{ attributes }}>
  <a href="#" class="accordion-link">{{ title }}</a>
  <div class="accordion-content">
    <div class="text text-formatted">{{ content }}</div>
  </div>
</div>
