[data-component-id="drupalcamp:two_columns"] {
  --gap: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

[data-component-id="drupalcamp:two_columns"] .column {
  width: 100%;
}

@media (min-width: 768px) {
  [data-component-id="drupalcamp:two_columns"] .column {
    width: calc(50% - (var(--gap) / 2));
  }
}
