form .text-format-wrapper > div {
  margin: 0;
}
form .form-item .description,
form .form-item .fieldset-wrapper .description {
  font-size: 0.85rem;
  line-height: 1.3rem;
}
.webform-type-webform-link .fieldset-wrapper > div:first-child {
  margin: 0;
}
