#block-drupalcamp-quick-actions .menu li {
  list-style-type: none;
}

@media (min-width: 1235px) {
  #block-drupalcamp-quick-actions .menu {
    display: flex;
    gap: 22px;
    margin-left: 47px;
    padding-inline-start: 0;
  }

  #block-drupalcamp-quick-actions .menu .link--button {
    padding: 8px 20px;
  }

  #block-drupalcamp-quick-actions .menu .link--button:hover {
    box-shadow: 0 0 8px 0 #00000080;
  }
}
