[data-component-id="drupalcamp:list_footer"] {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

@media (min-width: 920px) {
  [data-component-id="drupalcamp:list_footer"] {
    flex-direction: row;
  }
}

[data-component-id="drupalcamp:list_footer"] .results-summary {
  flex: 1;
}
