:root {
  --font-family: 'NotoSans', system-ui, sans-serif;
  --font-family-h: 'ZTGatha-SemiBold', system-ui, sans-serif;
  --font-size: 1rem;
  --font-size-h1: calc(var(--font-size) * 2.5);
  --font-size-h2: calc(var(--font-size) * 1.88);
  --font-size-h3: calc(var(--font-size) * 1.5);
  --font-line-height: 1.5rem;
  --font-line-height-h1: calc(var(--font-line-height) * 1.7);
  --font-line-height-h2: calc(var(--font-line-height) * 1.5);
  --font-line-height-h3: calc(var(--font-line-height) * 1.3);
  /* Cores base do logo */
  --color--primary: #0e8044;
  --color--secondary: #7a9f89;
  --color--primary-light: #b7e2c0;
  --color--gray: #f5f5f5;
  --color--background-primary: #ffffff;
  --color--degree-1: #fdbd02;
  --color--degree-2: #012521;
  --page-side-margin: 0px;
  --transition: all 0.3s ease;
  --bg-img: none;
  --bg-img-blend-mode: normal;
  --bg-img-size: auto;
  --max-width: 1235px;
  --gutter-x: 20px;
}

@media (min-width: 768px) {
  :root {
    --font-size: 1.125rem;
    --font-size-h1: calc(var(--font-size) * 3.55);
    --font-size-h2: calc(var(--font-size) * 2.22);
    --font-size-h3: calc(var(--font-size) * 1.8);
    --font-line-height: 1.687rem;
    --font-line-height-h1: calc(var(--font-line-height) * 2.371);
    --font-line-height-h2: calc(var(--font-line-height) * 1.778);
    --font-line-height-h3: calc(var(--font-line-height) * 1.3);
    --gutter-x: 16px;
  }
}
