[data-component-id="drupalcamp:link"] a {
  --color-border: var(--color--primary-light);
  border: 1px solid var(--color-border);
  border-radius: 7px;
  box-sizing: border-box;
  color: var(--color--primary-light);
  display: inline-block;
  font-weight: 500;
  padding: 12px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
}

[data-component-id="drupalcamp:link"] a:focus,
[data-component-id="drupalcamp:link"] a:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

[data-component-id="drupalcamp:link"].link--button--transparent a {
  background-color: transparent;
}

[data-component-id="drupalcamp:link"].link--button--transparent a:focus,
[data-component-id="drupalcamp:link"].link--button--transparent a:hover {
  background-color: var(--color--primary);
  color: var(--color--background-primary);
}

[data-component-id="drupalcamp:link"].link--button--primary a {
  background-color: var(--color--primary);
  color: var(--color--background-primary);
}

[data-component-id="drupalcamp:link"].link--button--secondary a {
  --color-border: var(--color--secondary);
  background-color: var(--color--secondary);
  color: var(--color--background-secondary);
}

[data-component-id="drupalcamp:link"].link--button--primary-light a {
  --color-border: var(--color--primary-light);
  background-color: var(--color--primary-light);
  color: var(--color--background-primary-light);
}

[data-component-id="drupalcamp:link"].link--button--white a {
  background-color: white;
}

[data-component-id="drupalcamp:link"].link--button--disabled a {
  background-color: var(--color--gray);
  cursor: not-allowed;
  pointer-events: none;
}

[data-component-id="drupalcamp:link"].link--button--disabled a:focus,
[data-component-id="drupalcamp:link"].link--button--disabled a:hover {
  background-color: var(--color--gray);
  box-shadow: none;
  transform: none;
}
